  <!-- Start Open-Source Section -->
  <section id="open-source" class="open-source">
    <div class="container">
      
      <div class="section-title">
        <h2>{{ site.data.t.header.open-source[page.lang] }}</h2>
      </div>

      <div class="row open-source-container">

        <p>{{site.data.t.open-source.description[page.lang]}}</p>
        
        {% for project in site.data.t.open-source.list %}
        <div class="col-12 col-lg-4 open-source-item {{ project.filters }}">
          
          <div class="container">
            
            
          <center><h4>{{ project.title[page.lang] }}</h4></center>
          <div class="open-source-wrap">
            <p align="center">{{ project.description[page.lang] }}</p>
            <!-- <img src="../assets/img/project/twitteranalysis.jpg" class="img-fluid" alt=""> -->
          </div> 
          
          <div class="open-source-info">
            <div class="open-source-links">
                <a href="{{project.url}}" target="_blank" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Project Details"><i class='bx bx-link bx-tada bx-rotate-90' ></i></a>
            </div>
          </div> 

          </div>  
        </div> 
        {% endfor %}

      </div>
    </div>
  </section>

  <!-- End Open-Source Section -->