
  <!-- ======= Services Section ======= -->
<section id="services" class="services">
<!-- <div class="services container">

    <div class="section-title">
      <h2>{{ site.data.t.about.services[page.lang] }}</h2>
    </div>

    <div class="content">
    
    {% for service in site.data.t.about.services.list %}

    <h5 class="service-description" style="font-family:sans-serif"><i class="bx bx-right-arrow-circle"></i> {{service.header[page.lang]}}</h5>

    <p>{{service.description[page.lang]}}</p>

    {% endfor %}

    </div>
    
  </div> -->

  <div class="interests container" style="padding-top:5ex;">

    <div class="section-title">
      <h2>{{ site.data.t.about.interests[page.lang] }}</h2>
    </div>

    <div class="row">
      
      {% for interest in site.data.t.about.interests.list %}
      <div class="col-lg-4 col-md-4 mt-4 interest-item">
        <div class="bx icon-box">
          <i class="interest-icon {{ interest.icon }}"></i>
          <h3>{{ interest.text[page.lang] }}</h3>
        </div>
      </div>  
      {% endfor %}

  </div>
</div><!-- End Interests -->
</div>
</section>